
body{
  background-color: aqua;
}

.head {

  position: absolute;
  background-position: top right;
  /* border: 1px solid black; */
  margin: 0px;
  padding: 0px;
  height: 490px;
  width: 100%;
  background:url(Images/profile.png);
  
  background-size: cover;
  
}
.imgcenter{
  /* align-self: center; */
  /* align-content: center; */
  /* -ms-flex-item-align: center; */
  position: absolute;
  top: 130px;
  left: 42%;
}

.button {
  /* background-color: #4CAF50; Green */
  border: none;
  color: black;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button4:hover {
  background-color: #e7e7e7;
}
.button4 {
  background-color:transparent;
  color: beige;
  /* border: 2px solid #e7e7e7; */
}
.containermenu{
  /* border: yellow solid 1px; */
  width: 350px;
  height: 40px;
  position: absolute;
  right: 1%;
  top: 30px;
}

.menu{
  font-family: sans-serif ;
  color: yellow;
}

.borderper {
  position: absolute;
  margin: 0px;
  padding: 0px;
  border: white solid 2px;
  height: 100px ;
  width: 350px;
  align-content: center;
  left: 33.3%;
  

}
.personal{
  text-align: center;
  margin: 10px;
  font-size: 20px;  ;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
}
.namecenter{
  margin-top: 350px;
  font-size: 2.5em;
  font-weight: 700;
  text-align: center;
  color: beige;
}

.center{
  text-align: center;
}
.container1{
  background-color: beige;
  top: 530px;
  border: black solid 1px;
  padding: 0px;  
  height: 350px ;
  width: 90%;
  margin: auto;
  display: inline-block;
  position: absolute;
  margin-top: 30px;
  margin-left: 60px;
  /* margin: 10px; */
}
.container2{
  top: 910px;
  border: black solid 1px;
  /* margin: 10px; */
  padding: 0px;  
  height: 350px ;
  width: 90%;
  margin-left: 60px;
  position: absolute;
  margin-top: 60px;
}
.title{
  font-weight: 700;
  font-size: 1.741em;
  line-height: 1.45em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
}

.cont1{
  border: black solid 1px;
  margin-top: 50px;
  position: absolute;
  word-wrap: break-word;
}

.selfint{
  border: yellow solid 1px;
  margin: 10px;
  margin-left: 20px;
  display: inline-block;
  padding: 10px;
  height:300px;
  width: 45%;
  position: relative;
  
}

.card{
  border: red solid 1px;
  margin-top:  45px;
  margin-left: 20px;
  display: inline-block;
  padding: 10px;
  height:230px;
  width: 30%;
  position: absolute;
}

.card2{
  border: red solid 1px;
  margin-top:  45px;
  margin-left: 40%;
  /* display: inline-block; */
  padding: 10px;
  height:230px;
  width: 50%;
  position: absolute;
}

h3.info{
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 17px;
  line-height: 23px;

}

/* tabel pendidikan */
table.tablepend{
  margin-top: 60px;
  border-collapse: collapse;
  width: 100%;
  background-color: turquoise;

}
td{
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid grey;
}

tr:hover{
  background-color: honeydew;
}

.card2_1{
  border: red solid 1px;
  margin-top:  45px;
  /* margin-left: %; */
  /* display: inline-block; */
  padding: 10px;
  height:230px;
  width: 90%;
  position: absolute;
}

ol{
  background-color: bisque;
  line-height: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 10px;
  padding: 10px;
}

ol li{
  background-color: gainsboro;
  margin: 15px;
}

.container3{
  top: 1320px;
  border: black solid 1px;
  /* margin: 10px; */
  padding: 0px;  
  height: 350px ;
  width: 90%;
  margin-left: 60px;
  position: absolute;
  margin-top: 60px;
}

ul{
  margin-top: 50px;
}
ul li{
  line-height: 30px;
}

.contkontak{
  top: 1760px;
  border: black solid 1px;
  height: 60px;
  width: 90%;
  margin-left: 60px;
  position: absolute;
}

.narhub{
  position: relative;
  margin: 5px;
  border: yellow solid 1px;
  margin-left:  25px;
  height: 30px;
  width: 20%;
  text-align: center;
  display: inline-block;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
}

h5 {
  position: absolute;
}

